@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --siyah:#000;
    --beyaz:#fff;
    --seffaf: rgba(165, 151, 151, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family:'Poppins', sans-serif;
   
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    
    
}
header{  
    flex: 1 0 100px;
    max-height: 250px;
    width: 100%;
    display: flex;
    padding: 10px;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #375A7E;
}
header > a{
    color: black;
    text-decoration: none;
}
header > ul{
    flex: 1;
    max-height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    list-style: none;
}
header > img{
    height: 250px;
     width: 250px;
}


header > ul a {
    flex: 1;
    width: 100%;
    max-height: 80px;
    background-color: var(--seffaf);
    color:var(--beyaz);
    text-decoration: none;
    font-weight: bolder;
    padding: 30px;  
    text-align: center;
}

header > ul a:hover{
    color: var(--siyah);
}
main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    padding: 25px;
    background: center/cover no-repeat url(images/siyahrange.jpg);
    

}

main > div{
    display: flex;
    justify-content: center;
    width: 25vw;
}
main > div > a{
    display: flex;
    width: 200px;
    height: 25px;
    text-decoration: none;
    color: black;
   background-color: white;
   border-radius: 15px;
   justify-content: center;
    
}
main>p{
    width: 28%;
    margin-left: 30px;
    font-weight: bolder;
    color: white;
}
main > h1{
    color: white;
}
main > a{
    background-color:rgb(230, 210, 183) rgb(0, 0, 0,0, 0.5);
    
    align-self: center;
    border-radius: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    opacity: 10;
    color: #000000;
}
a:hover{
    color: rgb(0, 0, 0);
}
.header .nav-bar .sosyal-medya ul li i{
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-size: 19px;
    background-color: #cac5c542;
    transition: all 0.3s ease-in-out;
}
.header .nav-bar .sosyal-medya ul li i:hover{
    background-color: rgb(255 0 0 / 0.9);
}
footer{
    display: flex;
   
    background-color: #375A7E;
    height: 250px;
    
    gap: 50px;
}
footer > a{
    text-decoration: none;
    color: black;
}
footer > a:hover{
    
    color: gray;
}